= simple_form_for(@device) do |f|
  = f.error_notification

  .form-inputs
    = f.input :hardware_serial #, input_html: { pattern: '.{12,}' }
    = f.input :room #, input_html: { pattern: '^R([0-9]{3})$' }
    = f.input :number
    = f.input :resolution_x #, input_html: { min: '16', max: '8192' }
    = f.input :resolution_y #, input_html: { min: '16', max: '8192' }
    = f.input :mac_en #, input_html: { pattern: '^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$' }
    = f.input :mac_wifi #, input_html: { pattern: '^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$' }
    = f.input :ip #, input_html: { pattern: '^10\.\d{1,3}\.\d{1,3}\.\d{1,3}$' }
    = f.association :manifest #, include_blank: false
    = f.input :model #, collection: %w(iMac MacMini), include_blank: false

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
