%p= new_button new_device_path, title: 'New Device', class: 'btn btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th.hidden-sm Model
      %th Room
      %th #
      %th S/N
      %th.hidden-sm Resolution
      %th IP
      %th Check-In
      %th Actions

  %tbody
    - @devices.each do |device|
      %tr{ :'data-id' => "#{device.id}" }
        %td= link_to device.computer_name, device
        %td.hidden-sm= device.model
        %td= device.room
        %td= device.number
        %td= device.hardware_serial
        %td.hidden-sm
          - if device.resolution_x.present?
            #{device.resolution_x}x#{device.resolution_y}
          - else
            \-
        %td= device.ip
        -# %td= device.last_checkin.strftime('%d/%m/%Y %I:%M') rescue '-'
        %td
          - if device.last_checkin.present?
            :javascript
              document.write(moment("#{device.last_checkin.strftime('%Y-%m-%d %H:%M')}").fromNow());
              $(function() {
                if(moment("#{device.last_checkin.strftime('%Y-%m-%d %H:%M')}").isBefore(moment().subtract('days', 5))) $('[data-id=#{device.id}] td').css('background-color', '#f2dede');
                if(moment("#{device.last_checkin.strftime('%Y-%m-%d %H:%M')}").isAfter(moment().subtract('days', 5))) $('[data-id=#{device.id}] td').css('background-color', '#dff0d8');
              });
          - else
            \-
        %td
          .btn-group
            = table_edit_button edit_device_path(device)
            = table_delete_button device

