%p#notice= notice

%p
  %b Hardware serial:
  = @device.hardware_serial
%p
  %b Room:
  = @device.room
%p
  %b Number:
  = @device.number
%p
  %b Resolution x:
  = @device.resolution_x
%p
  %b Resolution y:
  = @device.resolution_y
%p
  %b Mac en:
  = @device.mac_en
%p
  %b Mac wifi:
  = @device.mac_wifi

%p
  %b Ip:
  = @device.ip
%p
  %b Manifest:
  = @device.manifest.name rescue '-'
%p
  %b Model:
  = @device.model

%p
  %b Last Check-In:
  = l @device.last_checkin rescue '-'

= link_to 'Edit', edit_device_path(@device)
\|
= link_to 'Back', devices_path
