.page-header
  %h1 Listing manifests

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @manifests.each do |manifest|
      %tr
        %td= manifest.name
        %td
          = link_to 'Show', manifest, class: 'btn btn-default btn-xs' 
          = link_to 'Edit', edit_manifest_path(manifest), class: 'btn btn-primary btn-xs'
          = link_to 'Destroy', manifest, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'

%br

= link_to 'New Manifest', new_manifest_path, class: 'btn btn-default'
