.page-header
  %h1 Melde Dich an…

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin', role: 'form'}) do |f|
  = f.text_field :email, type: :email, class: 'form-control', spellcheck: false, autocapitalize: :off, autocorrect: :off, required: true, autofocus: :on, placeholder: 'E-Mail-Adresse'

  = f.password_field :password, type: :password, class: 'form-control', placeholder: 'Passwort'

  - if devise_mapping.rememberable?
    .checkbox
      %label
        = f.check_box :remember_me
        eingeloggt bleiben

  = f.submit "Anmelden", class: 'btn btn-lg btn-primary btn-block'

= render "devise/shared/links"
