/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* NO = require_self
* NO = require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "signin";

body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.container {
}

.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 10px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

body {
	// padding-top: 40px;
	background-color: #EBEBF0;
	font-family: Helvetica;
	font-weight: normal;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}
