!!! HTML
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "#{'DEV ' if Rails.env.development? }MacManager"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{type: "button"}(data-target=".navbar-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: root_url }= Rails.env.development? ? "DEV MacManager" : "MacManager"
        %ul.nav.navbar-nav.pull-right
          - if signed_in?
            %li.dropdown{ class: @active == :user && 'active' }
              %a.dropdown-toggle(data-toggle='dropdown' href='#')
                %i.icon-user
                = current_admin.email
                %span.caret
              %ul.dropdown-menu
                %li= link_to "<i class='icon-signout'></i> Abmelden!".html_safe, destroy_admin_session_path, method: :delete
          - if false
            %li.inverse= link_to "<i class='icon-signin'></i> Anmelden".html_safe, new_user_session_path
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{ class: @active == :devices && 'active' }= link_to "Devices", devices_path
            %li{ class: @active == :manifests && 'active' }= link_to "Manifests", manifests_path

    .container#main
      .row
        .col-md-12
          = render 'layouts/messages'
          
          = yield
